.loginWrapper {
	display: flex;
	justify-content: center;
}

.loginCard {
	width: 27vw;
	margin-top: 10%;
}

.insta-logo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3%;
}
.insta-logo img {
	width: 15vw;
}

.imgcar {
	margin-top: 8vh;
	height: 590px;
	width: 441px;
	position: relative;
}
.car {
	position: absolute;
	height: 423px;
	width: 241px;
	left: 143px;
	top: 93px;
}
